@charset "UTF-8";

#wrap{height:1200px; weight:1200px;}
header{height:150px; background-color:#ff8b60}
nav{height:50px; background-color:#ff8b60}
footer{height:150px;}
.border-color {border:2px solid #ff8b60;}
.name-color{color:#ff8b60;}
.itembox:hover {background:silver;}